In [3]:
# 변수 실행시 오류
msg="hello good day" #주석
print(msg)

hello good day

In [8]:
num=12
#num. #num는 참조 변수

In [11]:
greeting='good morning' #greeting 도 변수 > 참조 변수
greet_work="nice work"
print(greeting.title())
greeting.capitalize()
s1 = greeting.capitalize()
s2 = greet_work.capitalize()
print(s1)
print(s2)
print(num)

Good Morning
Good morning
Nice work
Nice work

In [ ]:
#num.bit_length
num = s2
print(num)
#num.

Nice work

Markdown : print 문 실행시에 오류가 나는 print trace

In [4]:
print("hello world", msg)

hello world hello good day

In [ ]:
# f-문자열 - 자주사용
last_name = "hong"
first_name = 'gil dong'
full_name = f"{last_name} -> {first_name}" #f는 format,  문자열은 ""안에, 변수명은 {}안에
print(full_name)
print(full_name.title()) #첫글자를 대문자로 바꿔줌.

hong -> gil dong
Hong -> Gil Dong

In [17]:
print(f"문자열\n 실습:\t{last_name}") #f문자열 연습많이하기.

문자열
 실습:	hong

In [18]:
num = " 12 44 66   123 243 "

# 1. 문자열을 공백 기준으로 분리 (앞뒤 공백 제거 후)
str_list = num.strip().split()
print(str_list)

# 2. 문자열 배열을 정렬 (문자열 기준으로 정렬됨)
str_list.sort()

# 3. 출력
print("정렬된 문자열 배열:", str_list)

['12', '44', '66', '123', '243']
정렬된 문자열 배열: ['12', '123', '243', '44', '66']

In [ ]:
print("***",num,"***")
print("***",num.strip(),"***") #rstrip 오른쪽 공백 없애기
print("***",num.split(),"***") #split []대괄호 출력으로 리스트 출력

***  12 44 66   123 243  ***
*** 12 44 66   123 243 ***
*** ['12', '44', '66', '123', '243'] ***

In [26]:
num = " 12 44 66 123 243"

# 1. 문자열 앞뒤 공백 제거 후 공백 기준 분리
str_list = num.strip().split()

# 2. 각 문자열 요소를 정수로 변환
#확장형 for문
int_list = [int(s) for s in str_list] #4장에서 공부 # str_list에 있는 s를 int_list로 바꿔라. python 한줄코딩많음. 
                                        # 기본데이터타입 list , 숫자들의 list

# 3. 정수 리스트 정렬
int_list.sort()

# 4. 출력
print("정렬된 정수 리스트:", int_list)

정렬된 정수 리스트: [12, 44, 66, 123, 243]

In [9]:
2*0.1

0.2

In [10]:
0.2+0.1

0.30000000000000004

In [27]:
0.3+0.3

0.6

In [11]:
3*0.1

0.30000000000000004

In [12]:
0.3

0.3

In [13]:
print(0.3 == 0.1 + 0.2)

False

In [ ]:
import math

print(math.isclose(0.1 + 0.2, 0.3))  # True #isclose 저 뒤에 오차는 무시.

True

In [15]:
print(0.3*3)

0.8999999999999999

부동소수점(floating point) 오차 때문이다.
- 파이썬(및 대부분의 언어)은 이진수 기반의 IEEE 754 방식으로 실수를 저장 > 일부 소수는 정확하게 표현 못함

In [ ]:
sum = 1_000_000_000 # 개발자가 코딩할때 숫자 표기 , 결과는 1000000000
print(sum)

1000000000

In [41]:
x,y,z=1,2,3 # 다중 할당이고 자주 사용
print(x,y,z)

1 2 3

In [42]:
x,y,z = z,x,y #다중할당, 맞교환, swap 기능 2개 3개 4개 모두가능
print(x,y,z)

3 1 2

In [18]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!